<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма студента</title>
</head>
<body>
<h1>Добавить/Редактировать студента</h1>
<form th:action="@{/students/add}" th:object="${student}" method="post">
    <label>Имя:</label>
    <input type="text" th:field="*{name}" /><br/>
    <label>Фамилия:</label>
    <input type="text" th:field="*{lastName}" /><br/>
    <label>Отчество:</label>
    <input type="text" th:field="*{firstName}" /><br/>
    <label>Дополнительное имя:</label>
    <input type="text" th:field="*{middleName}" /><br/>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>
