<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Имя пользователя</th>
    <th>Роли</th>
    <th>Действия</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.roles}"></td>
    <td>
      <a th:href="@{/admin/users/{id}(id=${user.id})}">Редактировать</a>
    </td>
  </tr>
</table>
</body>
</html>
